Repository fabrizio2210/web-infrared: changes, and which Jenkins stages are due for each by the changed paths.
All: BuildDocker, Build

Jenkinsfile:

pipeline {
  agent any 
  stages {
    stage('BuildDocker'){
      when { changeset "**CICD/**" }
      steps {
        script {
          def controller = docker.build("fabrizio2210/web-infrared-controller:latest",  "CICD/Dockerfile.debian-stretch")
          controller.push()
        }
      }
    }
    stage('Build') {
      when { changeset "**src/**" }
      steps {
        sh 'mkdir -p /tmp/build/ ; cp -rav * /tmp/build/ '
        sh 'cd /tmp/build/; \
        python3 -m venv ; \
        pip3 install --no-cache-dir -r src/requirements.txt'
        archiveArtifacts artifacts: '/tmp/build/venv/'
      }
    }
    stage('Test') {
      steps {
        sh 'cd /tmp/build/; cd src; python3 tests/test-app.py; cd ..'
        ansiblePlaybook(inventory: 'travis/inventory.list', playbook: 'ansible/setup.yml')
      }
    }
    stage('Deploy') {
      steps {
        sh 'pwd'
      }
    }
  }
}

fix Docker build
  Jenkinsfile
Due: none

test build
  CICD/Dockerfile.debian-stretch
Due: BuildDocker

Set credential dockerhub
  CICD/Dockerfile.debian-stretch
  Jenkinsfile
Due: BuildDocker

fix agent for test
  Jenkinsfile
Due: none

fix entrypoint docker
  CICD/Dockerfile.debian-stretch
Due: BuildDocker

test build
  src/app.py
Due: Build

fix venv
  Jenkinsfile
  src/app.py
Due: Build

source of the venv
  Jenkinsfile
  src/app.py
Due: Build

fix source venv
  Jenkinsfile
  src/app.py
Due: Build

fix archve artifacts
  Jenkinsfile
  src/app.py
Due: Build

fix archive artifacts
  Jenkinsfile
  src/app.py
Due: Build

add tar for artifact
  Jenkinsfile
  src/app.py
Due: Build

verifica stash
  Jenkinsfile
  src/app.py
Due: Build

source env for test
  Jenkinsfile
Due: none

test copyartifacts
  Jenkinsfile
Due: none

fix copyartifacts
  Jenkinsfile
Due: none

refactoring pipeline
  CICD/Jenkinsfile-build_docker_controller
  CICD/Jenkinsfile-build_env
  CICD/Jenkinsfile-tests
Due: BuildDocker

Test with unique pipeline
  Jenkinsfile
Due: none

Test with unique pipeline
  src/app.py
Due: Build

Test with unique pipeline
  Jenkinsfile
  src/app.py
Due: Build

trigger build
  src/app.py
Due: Build

fix ansible inventory
  CICD/Jenkinsfile-build_docker_controller
  CICD/Jenkinsfile-build_env
  CICD/Jenkinsfile-tests
  Jenkinsfile
Due: BuildDocker

Added stage of creating DEB
  DEBIAN/changelog
  DEBIAN/copyright
  Jenkinsfile
  VERSION
Due: none

trigger DEB
  src/app.py
Due: Build

Fix size debx
  Jenkinsfile
Due: none

Added control
  DEBIAN/control
  src/app.py
Due: Build

Added fakeroot in the controller
  CICD/Dockerfile.debian-stretch
  src/app.py
Due: BuildDocker, Build

fix build DEB
  Jenkinsfile
  src/app.py
Due: Build
