Repository fabrizio2210/web-infrared: changes, and which Jenkins stages are due for each by the changed paths.
All: BuildDocker, BuildVenv, BuildDEB

BuildDocker:
        steps {
          script {
            def controller = docker.build("fabrizio2210/web-infrared-controller:latest",  "-f CICD/Dockerfile.debian-stretch .")
            docker.withRegistry( '', registryCredential ) {
              controller.push()
            }
          }
        }
      

BuildVenv:
        agent {
          docker { 
            image 'fabrizio2210/web-infrared-controller' 
            args '-u root'
          }
        }
        steps {
          sh 'mkdir -p /tmp/build/ ; cp -rav * /tmp/build/ '
          sh 'cd /tmp/build/; \
          python3 -m venv /tmp/build/venv/ ; \
  ...

BuildDEB:
        agent {
          docker { 
            image 'fabrizio2210/web-infrared-controller' 
          }
        }
        steps {
          copyArtifacts(
            projectName: env.JOB_NAME,
            selector: lastWithArtifacts()
          )
          sh 'mkdir -p opt/web-infrared/'
  ...

fix build DEB
  src/app.py
Due: BuildDEB

fix buil directory
  Jenkinsfile
  src/app.py
Due: BuildDEB

fix position of deb
  Jenkinsfile
  src/app.py
Due: BuildDEB

using variable for build dir
  Jenkinsfile
Due: none

using variable for venv.tar
  Jenkinsfile
Due: none

substitution variable for package
  Jenkinsfile
Due: none

debug who triggers the build
  Jenkinsfile
Due: none

fix anyof
  Jenkinsfile
Due: none

print variables
  Jenkinsfile
Due: none

added the possibility to trigger the deb
  Jenkinsfile
Due: none

Trigger new build of venv
  src/requirements.txt
Due: BuildVenv, BuildDEB

Use deb to do test
  Jenkinsfile
Due: none

fix cartifact deb
  Jenkinsfile
Due: none

fix test app
  Jenkinsfile
Due: none

fix venv
  Jenkinsfile
  src/requirements.txt
Due: BuildVenv, BuildDEB

fix venv and try sidecar container
  CICD/inventory.list
  Jenkinsfile
  src/requirements.txt
Due: BuildVenv, BuildDEB

using script for sidecar
  Jenkinsfile
Due: none

clean the workspace
  Jenkinsfile
Due: none

fix position of deb
  Jenkinsfile
Due: none

fix copyArtifact with filter
  Jenkinsfile
  src/app.py
Due: BuildDEB

save both artifacts
  Jenkinsfile
  src/requirements.txt
Due: BuildVenv, BuildDEB

fix install dir deb
  Jenkinsfile
Due: none

Added stage to retrieve venv
  Jenkinsfile
Due: none

Add beforeaAgent
  Jenkinsfile
Due: none

add path for Docker
  Jenkinsfile
Due: none

beforeAgent for deb
  Jenkinsfile
Due: none

try container
  Jenkinsfile
Due: none

use node_name
  Jenkinsfile
Due: none

try withut agent
  Jenkinsfile
Due: none

test execution
  Jenkinsfile
Due: none

change image
  Jenkinsfile
Due: none

add sleep
  Jenkinsfile
Due: none

print hostname
  Jenkinsfile
Due: none

try with contianer
  Jenkinsfile
Due: none

Try eith agent
  Jenkinsfile
Due: none

fix apice
  Jenkinsfile
Due: none

add environemnt
  Jenkinsfile
Due: none

fix variable
  Jenkinsfile
Due: none

change inventory in docker
  CICD/inventory.list
Due: none

try user jenkins
  CICD/inventory.list
Due: none

Path conditions:
  BuildDocker: any of: **CICD/Dockerfile.*
  BuildVenv: any of: **src/requirements.txt
  BuildDEB: any of: **src/**
